.body-artist{
    background:url(fan_1.png) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover
}
.body-fan{
    background:url(fan_2.png) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover
}

h1 {
    text-align: center;
    background-color: transparent;
    color: #ff3330;
    font-family: 'Special Elite', cursive;
    font-size: 250%;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

h5{
    margin-top: 20px;
    margin-bottom: 70px;

}

body {
    font-family: 'Special Elite', cursive;
    
}

.navbar {
    font-family: 'Special Elite', cursive;
    font-size: 120%;

}

.navbar-brand {
    padding: 5px 15px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #ff3330;
    z-index: 999
}

.carousel {
    margin-top: 50px
}

.datepicker td.active {
    background-color: #ff3330 !important
}

.right-inner-addon .icon-link {
    cursor: pointer !important;
    pointer-events: all
}

.right-inner-addon .icon-link:hover {
    color: #e0e1e2;
}
.icon-link {
    cursor: pointer !important;
    pointer-events: all
}
.glyphicon, .fa{
    color: #ff3330;
}

.glyphicon:hover {
    color: #e0e1e2;
}

.btnH:hover{
    color: #e0e1e2;
}

.fanbase-pink {
    background-color: #ff3300;
}

.fanbase-pink:hover {
    background-color: #ff6633;
}

.social-media{
    margin-top:20px; 
    margin-bottom:20px; 
    color: #ff3330; 
    font-family: 'Special Elite', cursive; 
    font-size:1.1em
}

.social-media a {
    color: #ff3330 !important; 

}

.form-fanbase {
    background-color: rgba(255,255,255,0.8);
    padding: 40px;
    border-radius: 10px
}
.banner-img{
    height: 725px !important;
    width: 100%;
   
}

.avatar{
    height: 300px;
    width: 65%;
    border-radius: 50%;
}

.text-aboutus{
    text-align: justify;
    margin-top:20px; 
    margin-bottom:20px; 

}


.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}



