h1 {
    text-align: center;
    background-color: transparent;
    color: #ff3330;
    font-family: 'Special Elite', cursive;
    font-size: 250%;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

h5{
    margin-top: 20px;
    margin-bottom: 70px;

}

body {
    font-family: 'Special Elite', cursive;
    
}

.navbar {
    font-family: 'Special Elite', cursive;
    font-size: 120%;

}

.navbar-brand {
    padding: 5px 15px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #ff3330;
    z-index: 999
}

.carousel {
    margin-top: 50px
}

.datepicker td.active {
    background-color: #ff3330 !important
}

.right-inner-addon .icon-link {
    cursor: pointer !important;
    pointer-events: all
}
.icon-link {
    cursor: pointer !important;
    pointer-events: all
}

.fanbase-pink {
    background-color: #ff3300;
}

.fanbase-pink:hover {
    background-color: #ff6633;
}

.social-media{
    margin-top:20px; 
    margin-bottom:20px; 
    color: #ff3330; 
    font-family: 'Special Elite', cursive; 
    font-size:1.1em
}

.social-media a {
    color: #ff3330 !important; 

}

.form-fanbase {
    background-color: rgba(255,255,255,0.8);
    padding: 40px;
    border-radius: 10px;
}

